/* -------------------section footer -----------------------*/

.backGrisFonce {
    max-width: 1440;
    background-color: rgba(0, 0, 0, 0.747);
}   
.boxFooter {
    font-family: roboto;
    padding-bottom: 1.5rem;     
    color: rgba(255, 255, 255, 0.986);
    max-width: 1200px;
    margin: auto;  
}
footer a {
    text-decoration: none;
    color: white;
}
footer a:hover {
    text-decoration-line: underline;
}
.logofooter {
    font-family:shrikhand;
    font-size: 20px;
    letter-spacing: 1.4px;
    padding-bottom: 18px;
}
.fa-utensils, .fa-hands-helping {
    margin-right: 15px;
}
.finitionsFooter {
    line-height: 25px;
}
