/* -------------------section footer -----------------------*/

.backGrisFonce {
    max-width: 1440;
    background-color: rgba(0, 0, 0, 0.747);
}
    
    
.boxFooter {
    font-family: roboto;
    padding: 20px;
    padding-bottom: 1.5rem;
    padding-left: 25px;
    height: 200px;    
    color: rgba(255, 255, 255, 0.986);
    
   
}
footer a {
    text-decoration: none;
    color: white;
}
footer a:hover {
    text-decoration-line: underline;
}
.logofooter {
    font-family:shrikhand;
    font-size: 20px;
    letter-spacing: 1.4px;
    padding-bottom: 18px;
}
.fa-utensils, .fa-hands-helping {
    margin-right: 15px;
}
.finitionsFooter {
    line-height: 25px;
}
 @media  and (min 1200px) {
    footer {
        max-width: 1140px;
        margin:  auto
    } 
    
}