
body {
    margin:0;
}
header h1 {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    padding-bottom: 10px;
    padding-top:18px ;
    font-family: shrikhand;
}
.slogan {
    padding-left: 12%;
    padding-right: 12%;
    text-align: center;
}
main {
    padding: 8px;
    font-family: roboto;    
}
h1 {
    font-weight: bold;
}
p {
    margin: 5%;
    text-align: center;
}
ul {
    list-style: none;
    list-style-position: outside;
    padding:0;
}
button {
    width: 95%;
    padding: 1.2rem;
    margin: 6% 2% 6% 3%;
    border-radius: 35px;
    font-size: 1rem;
    font-weight: bold;
    border: 0;
    background: linear-gradient(#ff79d9d0, #9256dce1); ;
    display: flex;
    justify-content: center;
    text-align: center;
    box-shadow: rgba(0, 0, 0, 0.082) 2px 2px 2px;
    color: white
    
}
ul button {
    width: 90%;
    padding: 1.5rem;
    margin: 6%;
    border-radius: 18px;
    font-weight: bold;
    border: 0;
    background:#9256dc15 ;
    display: flex;
    justify-content: center;
    text-align: center;
    box-shadow: rgba(0, 0, 0, 0.082) 2px 2px 2px;
    color:black
}
footer {
    /* font-family: shrikhand; */
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.747);
    color: rgba(255, 255, 255, 0.774);
}
footer h1 {
    font-family:shrikhand ;
}
h5 {
    font-family: roboto;

}

     


