@import url('https://fonts.googleapis.com/css2?family=Shrikhand&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap');

*,
::before,
::after {
    box-sizing: border-box;
    /* border: 1px solid; */
}
body {
    margin: 0px;
    font-family: "roboto", sans-serif;
}
main {
    padding: 0px;
    font-family: roboto;    
}
.backGris {
    background:rgba(236, 234, 234, 0.356);
    margin: 0;
}
/* Fin general */

header {
    font-family: 'Shrikhand', cursive;
    font-size: 1.9rem;
    letter-spacing: 0.4px;
    text-align: center;
    justify-content: center;
    box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.349);
    padding-top: 15px;
    padding-bottom: 8px;
}
/*Recherche/ville*/
.rechercheVille {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(211, 211, 211, 0.39);
    text-align: center;   
    margin-top:0;
    padding-top: 0; 
    gap: 1rem;
    font-weight:bolder; 
    color:rgba(0, 0, 0, 0.575)   
}
.colorBlack {
    color:black;
}
.margesRechercher {
    padding-top: 17px;
    padding-bottom: 17px;
    text-align: center;
    align-items: center;
}
.slogan {
    padding-top: 9%;
    padding-left: 15%;
    padding-right: 15%;
    text-align: center;
    font-size: 1.5em;
    font-weight: bold;
}
.sloganSecondaire {
    padding-top: 4%;
    padding-bottom: 1.2%;
    text-align: center;
    font-size: 1.15rem;
    color:rgba(0, 0, 0, 0.562)
}
.btnExplorer {
    padding-top: 1.03rem;
    padding-bottom:1.03rem;
    width: 61%;
    height: auto;
    border-radius: 40px;
    font-size: 0.96rem;
    font-weight: bold;
    letter-spacing: 0.5px;
    font-family: roboto;
    background: linear-gradient(#ff79d9d8, #9256dce1);
    font-weight: normal;
    transition: filter eas 0.8s;
    margin-bottom: 60px;
    box-shadow:rgba(10, 10, 10, 10);
    transition: transform 200ms;
}
.btnExplorer:hover {
    transform: scale(1.02);
    filter:brightness(1.1);
    cursor:pointer;
}
.centrageBtnExplorer {
    display: flex;
    justify-content: center;
}
.margesTitresSecondaires {
    padding-left: 15px;
    padding-top: 22px;
    padding-bottom: 15px;
}
/* Fonctionnement */
button {
    width: 93%;
    padding: 1.5rem;
    height: 74px;
    margin: 6% 2% 6% 3%;
    border-radius: 37px;
    font-size: 0.98rem;
    font-weight: bold;
    border: 0;    
    display: flex;
    justify-content: center;
    text-align: center;
    box-shadow: rgba(0, 0, 0, 0.137) 3px 3px 3px 0.5px;
    color: white;    
}
.placementIcones button {
    width: 90%;
    padding: 1.5rem;
    margin: 6%;
    border-radius: 18px;
    font-weight: bold;
    border: 0;
    background:rgba(236, 234, 234, 0.356);
    display: flex;
    justify-content: center;
    text-align: center;
    box-shadow: rgba(0, 0, 0, 0.082) 2px 2px 2px;
    color:black;
    position: relative;
}
.placementIcones button i {
    margin-right: 40px;
    height: 15px;
    width: 15px;
}
.alignementIcone1 {
    padding-left: 18px;
    padding-right: 16px;
}
span {
    display: inline-block;
    width: 24px;
    height: 24px;
    background: #9356DC;
    color: white;
    font-size: 14px;
    font-family: sans-serif;
    text-align: center;
    padding-top: 4px;
    border-radius: 50px;
    position: absolute;
    left: 0;
    transform: translate3d(-50%,2px,0);
}

.fas fa-mobile-alt fa-chart-line {
    font-size: 60px;
}
/* Restaurants */
#blocRestaurants {
    height: auto;
    display:flex;
    flex-direction:column;
    gap:20px;
    padding: 30px 15px 30px 15px;
}
.restaurantCarte{
    position:relative;
    width:100%;
    border-radius:15px;
    box-shadow: 0px 0px 2px 0px rgba(33,33,33,1);
    height:300px; 
}
.restaurantCarte div:first-child {
    background-size: cover;
    background-position:center;
    border-radius: 15px 15px 0 0;
    height:70%;
}
.imgRestaurant1 {
    background-image: url("../img/jay-wennington-N_Y88TWmGwA-unsplash.jpg");   
}
.imgRestaurant2 {
    background-image: url("../img/stil-u2Lp8tXIcjw-unsplash.jpg");   
}
.imgRestaurant3 {
    background-image: url("../img/toa-heftiba-DQKerTsQwi0-unsplash.jpg");   
}
.imgRestaurant4 {
    background-image: url("../img/louis-hansel-shotsoflouis-qNBGVyOCY8Q-unsplash.jpg");   
}
.restaurantCarte .blocCoeur {
    position: absolute;
    bottom: 30px;
    right: 15px;
}
.blocCoeur img {
      width: 29px;
      height: 29px;
      position: absolute;
      right: 15px;
      bottom: 4px;
}
.blocCoeur img:last-child {
    opacity: 0;
    transition: 400ms ease-in-out;
}
.blocCoeur img:last-child:hover{
    opacity: 1;
}

/* section footer */
footer {
    font-family: roboto;

    padding: 20px;
    height: 200px;
    background-color: rgba(0, 0, 0, 0.747);
    color: rgba(255, 255, 255, 0.986);
}
.logofooter {
    font-family:shrikhand;
    font-size: 20px;
    letter-spacing: 1.4px;
    padding-bottom: 18px;
}
footer div i {
    margin-right: 15px;
}
.finitionsFooter {
    line-height: 25px;
}


     


