@import url('https://fonts.googleapis.com/css2?family=Shrikhand&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap');
@import url('loader.css');
/* ::-webkit-scrollbar { erreur validateur webkit*/
    ::-webkit-scrollbar {
    display: none;
}
*,

::before,
::after {
    box-sizing: border-box;
}



    /* --------------------------------------------------------
                    PARAMETRAGE DES ANIMATIONS
    ------------------------------------------------------------ */

    @keyframes spin {
        0% {
        transform: translate(-50%,-50%) rotate(0deg) ;
        opacity: 1;
        z-index: 4;
        }
        99.999% {
        transform: translate(-50%,-50%) rotate(810deg) ;
        opacity: 1;
        z-index: 4;
        }
        100% {
            opacity: 0;
        z-index: -5;
        }
    }

    @keyframes spinreverse {
        0% {
        transform: translate(-50%,-50%) rotate(0deg) ;
        opacity: 1;
        z-index: 4;
        }
        99.999% {
        transform: translate(-50%,-50%) rotate(-810deg) ;
        opacity: 1;
        z-index: 4;
        }
        100% {
            opacity: 0;
        z-index: -5;
        }
    }
    @keyframes fadeInAnimation { 
        0% { 
        background-color: rgba(255,255,255,1); 
        z-index: 3;
        }
        40% {
        background-color: rgba(255,255,255,1);
        z-index: 3;
        }
        99.999% {
        background-color: rgba(255,255,255,0.8);
        z-index: 3;
        } 
        100% { 
        background-color: rgba(255,255,255,0);
        z-index: -5;
        }
    }
/*----------general------------- */
    
body {
    padding: 0;
    margin: 0;
    font-family: "roboto", sans-serif;
}
main {
    padding: 0;
    font-family: roboto;    
}
#blocPage {
    max-width: 1350px;
    min-width: 350px;
    margin: 0 auto;
}
.backGris {
    background:rgba(196, 193, 193, 0.212);
    margin: 0;
}
.colorBlack {
    color:black;
}

/*---------- Fin general-------------------- */

header {
    font-family: 'Shrikhand', cursive;
    font-size: 1.9rem;
    letter-spacing: 0.4px;
    text-align: center;
    justify-content: center;
    box-shadow: 0 8px 6px -6px rgba(0, 0, 0, 0.233);
    padding-top: 15px;
    padding-bottom: 8px;
}
header:hover {
    cursor:pointer;
}

/*-----Recherche/ville/Explorer-----------*/
.rechercheVille {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(170, 168, 168, 0.253);
    text-align: center;   
    margin-top:0;
    padding-top: 0; 
    gap: 1rem;
    font-weight:bolder; 
    color:rgba(0, 0, 0, 0.575)   
}
.margesRechercher {
    padding-top: 17px;
    padding-bottom: 17px;
    text-align: center;
    align-items: center;
}
.slogan1 {
    padding-top: 8%;
    padding-left: 12%;
    padding-right: 12%;
    text-align: center;
    font-size: 1.5em;
    font-weight: bold;
}
.slogan2 {
    padding-top: 4%;
    padding-bottom: 3%;
    padding-left: 10%;
    padding-right: 10%;
    text-align: center;
    font-size: 1.15rem;
    color:rgba(0, 0, 0, 0.562);
}
.btnExplorer {
    padding-top: 1.03rem;
    padding-bottom:1.03rem;
    width: 60%;
    height: 4.2rem;
    border-radius: 40px;
    font-size: 0.96rem;
    font-weight: bold;
    letter-spacing: 0.5px;
    font-family: roboto;
    background: linear-gradient(#ff79d9d8, #9256dce1);
    font-weight: normal;
    transition: filter eas 0.8s;
    margin-bottom: 60px;
    box-shadow:0px 0px 10px 0px  rgba(236, 234, 234, 0.356);
    color: white;
    font-size: 1.4rem;
}
.btnExplorer:hover {
    transition-duration: 200ms;
    transform: scale(1.02);
    filter:brightness(1.1);
    box-shadow: 0px 0px 10px 0px rgba(33, 33, 33, 0.287);
    cursor:pointer;
}
.positionBtnExplorer {
    display: flex;
    justify-content: center;
    text-align: center;
}
.btnExplorer {
    white-space: nowrap;
    padding-top: 1.03rem;
    padding-bottom:1.03rem;
    width: 59%;
    height: auto;
    border-radius: 40px;
    font-size: 0.96rem;
    font-weight: bold;
    letter-spacing: 0.5px;
    font-family: roboto;
    background: linear-gradient(#ff79d9d8, #9256dce1);
    font-weight: normal;
    transition: filter ease 0.8s;
    margin-bottom: 60px;
    box-shadow:0px 0px 10px 0px  rgba(236, 234, 234, 0.356)  
}
.btnExplorer:hover {
    transition-duration: 200ms;
    transform: scale(1.02);
    filter:brightness(1.1);
    box-shadow: 0px 0px 10px 0px rgba(33, 33, 33, 0.287);
    cursor:pointer;
}
.centrageBtnExplorer {
    display: flex;
    justify-content: center;
}
.margesTitresSecondaires {    
    padding: 22px 0 0 35px;
}
/*---------- Fonctionnement --------------*/

#placementBtn div {

    width: calc( (100% / 3) - (60px / 3));
    padding: 1.5rem;
    height: 74px;
    border-radius: 20px;
    font-size: 0.98rem;
    font-family: roboto;
    font-weight: normal;
    border: 0;
    background:rgba(236, 234, 234, 0.356);
    text-align: center;
    box-shadow: 0 0 14px #BBB;
    color:black;
    transition: transform ease 400ms;
    position:relative;
}
#placementBtn {
    padding:15px;
    gap:25px;
    display: flex;
    flex-direction: column;
    padding-left: 25px;    
}
#placementBtn div {
    width: 100%;
    display: inline-flex;
    align-items: center;
}
#placementBtn div:hover {
    background-color: rgb(193 149 225 / 18%);
    cursor: pointer;
    transform: scale(1.025);
}
#placementBtn div:hover >i {
    cursor: pointer;
    color: #9356DC;       
}
#placementBtn div i {
    justify-content: flex-start;
    padding-right: 0.5rem;
    padding-left: 1.5rem;
    margin-right: 1.1rem;
}
span {
    width: 24px;
    height: 24px;
    background: #9356DC;
    color: white;
    font-size: 14px;
    font-family: sans-serif;
    text-align: center;
    padding-top: 4px;
    border-radius: 50px;
    position: absolute;
    left: 0;
    transform: translate3d(-50%,2px,0);
}
.fas fa-mobile-alt fa-chart-line {
    font-size: 60px;
}
/*---------- Restos------------ */

#blocRestos {
    height: auto;
    display: flex;
    flex-direction: column;
    padding: 0 15px 30px 15px;
    background:rgba(196, 193, 193, 0.212);
    margin-top: 60px;
}
.blocCartesRestos1 {
    display: flex;
    gap: 0.5rem;
    height: auto;
    padding-left: 0;
    padding-right: 0;
    margin:0;
    margin-bottom: 2rem;
}
a {
    text-decoration: none;
    color:black;
}
.blocCartesRestos2 {
    display: flex;
    gap: 0.5rem;
    height: auto;
    padding-left: 0;
    margin:0;
    margin-bottom: 2rem;
}
.new {
    position: relative;
}
.new::before {
    content:"Nouveau";
    position: absolute;
    height: 2rem;
    width: 5rem;
    background-color:#99E2D0;
    font-family: roboto;
    color: black;
    text-align: center;
    display: grid;
    place-items: center;
    right: 1rem;
    top: 1rem;
    border-radius: 2px;    
}
.carteResto {
    position:relative;
    width: 98%;
    border-radius:15px;
    box-shadow: 0px 0px 10px 0px rgba(33, 33, 33, 0.287);
    height: 270px;
    margin: 0 1% 0 1%;
    background: white; 
    transition: transform ease 400ms;   
}
.carteResto:hover {
    transform: scale(1.01);
}
.carteResto div:first-child {
    background-size: cover;
    background-position: center;
    object-fit: cover;
    border-radius: 15px 15px 0 0;
    height: 70%;
}
.imgResto1 {
    background-image: url("../img/resto1.jpg");   
}
.imgResto2 {
    background-image: url("../img/resto2.jpg");  
}
.imgResto3 {
    background-image: url("../img/resto3.jpg");   
}
.imgResto4 {
    background-image: url("../img/resto4.jpg");   
}
.boxRestoQuartier_et_blocCoeurs {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-right: 5%;
}
.boxRestoQuartier {
    display: flex;
    flex-direction: column;
}
.nomResto {
    font-size: 18px;
    font-weight: bolder;
    padding: 15px 0 5px 15px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.quartierResto {
    font-size: 17px;
    padding-left: 15px;
    font-weight: lighter;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;   
}
.blocCoeurs {
    position: relative;
    display:flex ;
    justify-content:center; 
    align-items: center;
    height: 35px;
    width: 35px;
    border-radius: 50%;    
    margin-left: 1.75rem;
    margin-top: 0.813rem;
    cursor: pointer;
    overflow: hidden;
}

/*----coeur vide--------*/

.blocCoeurs :nth-child(1) {
    z-index: 2;
    position: absolute;
    position:center; 
    opacity: 1;
    height: 1.688rem;
    width: 1.938rem;
}
.blocCoeurs:hover :nth-child(1) {
    opacity: 0;
    transition: 1s ease-out;
    }
/*----coeur plein----------*/

.blocCoeurs :nth-child(2) { 
    opacity: 0;
    height: 1.438rem;
    width: 1.625rem;
}
.blocCoeurs:hover  :nth-child(2) {
    opacity: 1;
    filter:brightness(1.2);
    transition: 1s ease-in;
    }
.rideauCoeur {
    z-index : 1; 
    position: absolute;
    position: center;
    height: 35px; 
    width:100%;
    opacity:0; 
} 
.blocCoeurs:hover .rideauCoeur {
    background-color: white;
    animation: rideauCoeur 1s linear ; 
    animation-fill-mode: backwards ;
    overflow: hidden;        
}
@keyframes rideauCoeur {
    0%{ 
    transform: translateY(0%) ; 
    transform-origin: bottom;
    opacity: 1;
    }
    100%{
    transform: translateY(-100%); transform-origin: bottom;
    opacity: 1;
    }
}
/* -------------------FOOTER -----------------------*/

.backGrisFonce {
    max-width: 1440;
    background-color: rgba(0, 0, 0, 0.747);
}   
.boxFooter {
    font-family: roboto;
    padding: 1.5rem; 
   
    color: rgba(255, 255, 255, 0.986);
    max-width: 1200px;
    margin: auto;  
}
footer a {
    text-decoration: none;
    color: white;
}
footer a:hover {
    text-decoration-line: underline;
}
.logofooter {
    font-family:shrikhand;
    font-size: 20px;
    letter-spacing: 1.4px;
    padding-bottom: 18px;
}
.fa-utensils, .fa-hands-helping {
    margin-right: 15px;
}
.finitionsFooter {
    line-height: 25px;
}
/*-------------RESPONSIVE------------------- */
@media screen and (min-width: 50px) and (max-width: 768px) {
    .blocCartesRestos1 {
        display: flex;
        flex-direction: column;
        margin-bottom: 0.75rem;
    }
    .blocCartesRestos2 {
        display: flex;
        flex-direction: column;
        margin-bottom: 0.5rem;
   }
   .carteResto {
       margin-bottom: 1.5rem;
   }
}
@media screen and (min-width: 500px) and (max-width:768px) {
    #placementBtn div {
        font-size: 1rem;
    }
}    
@media screen and (min-width: 769px) and (max-width:899px) {
    
    header {       
        font-size: 150%;
    }
    .margesRechercher {
        font-size: 1.3rem;
    }
    .slogan1 {
        font-size:large; 
        padding-top: 3% ;
    }
    .slogan2 {
        font-size:large;
        padding-top: 2%;
    }
    .btnExplorer {
        padding-top: 1.3rem;
        padding-bottom:1.3rem;
        width: 30%;
        height: 4rem;
        border-radius: 40px;
        font-size: 1rem; 
        margin-bottom: 20px;        
    }
    h1 {
        font-size: 120%;
        padding-left: 2rem;
    }#placementBtn {
        display: flex;
        flex-direction: row;
        margin-bottom: 0.9rem;        
    }
  
    #placementBtn button i {
        margin-right: 0;
        padding: 0.7rem;
    }    
    .btnExplorer {
        padding-top: 1.3rem;
        padding-bottom:1.3rem;
        width: 40%;
        height: auto;
        border-radius: 40px;
        font-size: 1.1rem;  
    }
    #blocRestos {
       margin-top: 10px;
    }  
}
@media screen and (min-width: 900px) {
    header {       
        font-size: 150%;
    }
    .margesRechercher {
        font-size: 1.3rem;
    }
    .slogan1 {
        font-size:large; 
        padding-top: 3% ;
    }
    .slogan2 {
        font-size:large;
        padding-top: 2%;
    }
    .btnExplorer {
        padding-top: 1.3rem;
        padding-bottom:1.3rem;
        width: 30%;
        height: 4rem;
        border-radius: 40px;
        font-size: 1rem; 
        margin-bottom: 20px;        
    }
    h1 {
        font-size: 120%;
        padding-left: 2rem;
    }
    #placementBtn {
        display: flex;
        flex-direction: row;        
    }
    #placementBtn div {
        padding-right: 1.5rem;
        margin-left: 0.8rem;
        font-size: 1rem;

    }
    #placementBtn button i {
        margin-right: 0.1 rem;
        padding: 0.5rem;
    }
    #blocRestos {
        margin-top: 10px;
     } 
}
@media screen and (min-width: 1200px) {
    h1 {
        font-size: 130%;
        padding-left: 2rem;
    }
    .margesRechercher {
        font-size: 1.3rem;
    }
    .slogan1 {
        font-size:150%; 
    }
    .slogan2 {
        font-size:130%;
    }
    .btnExplorer {
        padding-top: 1rem;
        padding-bottom:1rem;
        width: 28%;
        height: 3.5rem;
        border-radius: 40px;
        font-size: 110%; 
        margin-bottom: 20px;        
    }
    .margesTitresSecondaires {    
        padding: 10px 0 0 15px;
    }
    #placementBtn div{
        display: flex;
        flex-direction: row;
        font-size: larger; 
        white-space: nowrap;       
    }
    #placementBtn button {
        margin-right: 10rem;
        padding-right: 4rem;    
    }
    #placementBtn button i {
        margin-right: 1rem;
        margin-left: 1rem;
        padding: 0.5rem;
    }
    #blocRestos {
        margin-top: 10px;
     } 
}
    





     


