@import "libs/miniResetScss";

p {
    background: blue;
    width: 80%;
    &:hover {
        background: blueviolet;
    }
}
.header-omf__logo {
    align-items: center;
    justify-content: center;
}